body {
    margin: 0;
    background-color: #FFFFFF;
    color: #335576;
    font-family: Verdana;
}

a   {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.nav {
    background-color: #FFFFFF;
    position:fixed;
    width: 100%;
    z-index: 1;

    box-sizing: border-box;
    padding: 1.25rem 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        font-size: 1.5rem;
        font-weight: bold;
    }
    &__list {
        list-style-type: none;
        display: inline;
        padding-left: 1.25rem;
        font-size: 1.25rem;
    }

    &__link {
        text-decoration: none;
        color: #335576;

        &:hover {
            border-bottom: 4px solid #DB7A4E;
            padding-bottom: 0.5rem; 
        }
        &--current {
            border-bottom: 4px solid #DB7A4E;
            padding-bottom: 0.5rem;
        }
    }
}

.footer {
    background-color: #FEFAF5;
    padding: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    &__card {
        padding: 1.25rem;
        
        &__title {
            font-size: 1.5rem;
            }
        &__subtitle {
            font-size: 0.75rem;
            color: #DB7A4E;
        }
    }
}

.icon {
    height: 30px;
    padding-right: 25px;
}
